<html ng-app="proyecto">
	<head>
		<title>
			Menu desplegable
		</title>
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" type="text/css" href="estilo.css">
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="/maps/documentation/javascript/demos/demos.css">
		 <link rel="stylesheet" href="../assets/css/bootstrap.css" media="screen" charset="utf-8">
	    <script src="js/jquery.js" type="text/javascript"></script>
	    <script src="js/modernizr.js" type="text/javascript"></script>
		
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

	</head>
	<body ng-controller = "Principal as datos" >
	<div align=center>
        <div class="menu">
			<ul class="nav">
			    <li id="motiva"><a href="" id="motiva">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="icon-list"></span> </a>
				<li><a href=""><span class="icon-road"></span>&nbsp;Recorridos </a>
					<ul class="nav1">

						<li><a href="">Lista de recorridos</a></li>
						<li><a href="">Mostrar recorridos</a></li>
						<li><a href="">Perfil topografico</a></li>
						<li><a href="">Resumen</a><span class=""></span> </a>
						</li>
					</ul>
				</li>
				<li><a href=""><span class="icon-download3"></span>&nbsp;Descargas</a>

				</li>
				<li><a id="" href="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>

				</li>
			</ul>
		</div>
		<br>
	</br>
	<br>
	</br>
	<div  class="caja_cris"  >
		<br>
		</br>
    	<div class="circulo" style=" margin:0% 0% 0% 32%"><br>
			<br><br><br><br><br><br><br><br>
			<div class="container">
            <h2>Mis recorridos: </h2>
            <div class="col-md-3" style="padding-left: 0">
                <div class="po" ng-repeat="route in datos.routes" class="route-item">
                    <br><br><a href="" ng-click="datos.showRoute(route)">{{route.fecha | date}}</a><br><br>
                </div>
            </div>
            
        </div>
   			<br><br>
		</div>
			<br><br>
		 <div class="col-md-9" ng-show="datos.showDiv">
                <div class="col-md-6 col-xs-12">
                    <ul class="list-items">
					<br><br>
					<br><br>
					<br><br>
					<br><br>
					
					   <li><b>Distancia Recorrida : </b> {{datos.route.distancia.value }} kms</li>
					   <li><b>Velocidad promedio: </b>{{datos.route.distancia.value/datos.route.tiempo.value}} km/h</li>
					   <li><b>Maxima altitud alcanzada: </b> {{datos.route.altmax}} m.s.n.m</li>
                        <li><b>Minima  altitud alcanzada : </b> {{datos.route.altmin}}</li>
                        <li><b>Metros recorridos en ascenso: </b> {{datos.route.ascenso}}</i></li>
                        <li><b>Metros recorridos en  descenso: </b>{{datos.route.descenso}}</li>
                        
                        <li><b>Calorías: </b> {{datos.route.tiempo.value*450}} cal</li>
                       
                       
                        
                    </ul>
                    
                
            </div>
	
      </div>
	  
	


	
	       
	
		
      
	
		
      </div>  

	</div>	
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-qq6MWiT9hdeNqvCQjZPpuSZI0wRJ5qw&callback=initMap"></script>
	    <script src="angular.min.js" charset="utf-8"></script>
        <script src="Chart.js" charset="utf-8"></script>
        <script src="datos.js" charset="utf-8"></script>
	</body>
	
</html>
